@charset "UTF-8";

@charset "UTF-8";

/* Estilos únicos da página "Nossa História" */
.nossa-historia .header-container {
    background-image: url('image/turma_violino23.jpeg');
    background-size: cover;
    background-position: center 70%;
}

.nossa-historia .header-projeto {
    background-color: rgba(0,0,0,0.5);
    height: 350px;
    position: relative;
    color: white;
}

.nossa-historia .header-projeto .overlay {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 140px; 
}

.nossa-historia .header-projeto h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #fcfafa;
    background-color: transparent; 
}

.nossa-historia .header-projeto p {
    font-size: 1.2rem;
    color:#faf9f9;
}

/* Seção Missão, Visão, Valores */
.mvv-section {
    padding: 15px 0;
    background-color: transparent;
}

.mvv-section h3 {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.mvv-section p {
    color: #555;
    font-size: 1rem;
}

.mvv-icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    font-size: 5rem !important;
    color: #ffde59 !important;
}

/* Carrossel */
#carousel-historia {
    width: 95%; 
    margin: 5px auto; 
}

#carousel-historia .carousel-item img {
    height: 750px;
    object-fit: cover; 
}

.carousel-indicators {
    bottom: 5px;
}

.carousel-control-prev, 
.carousel-control-next {
    bottom: 15px;
    top: auto; 
}

.carousel-indicators [data-bs-target],
.carousel-indicators .active {
    background-color: #000;
    border: 1px solid #000;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    filter: invert(100%);
}


/* ===== ESTILOS GERAIS ===== */
body {
    overflow-x: hidden;
}

a {
    font-weight: bold;
}

h1 {
    background-color: #FFDE59;
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    margin-top: 10px;
}

/* ===== FONTES PERSONALIZADAS ===== */

.fonte-btn-NH {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: bold;
}

/* ===== ESTILOS CARROSSEL  ===== */
.nossa-historia #carousel-historia {
    width: 95%; 
    margin: 5px auto; 
}

.nossa-historia #carousel-historia .carousel-item img {
    height: 750px;
    object-fit: cover; 
}

.nossa-historia .carousel-indicators {
    bottom: 5px;
}

.nossa-historia .carousel-control-prev, 
.nossa-historia .carousel-control-next {
    bottom: 15px;
    top: auto; 
}

.nossa-historia .carousel-indicators [data-bs-target],
.nossa-historia .carousel-indicators .active {
    background-color: #000;
    border: 1px solid #000;
}

.nossa-historia .carousel-control-prev-icon, 
.nossa-historia .carousel-control-next-icon {
    filter: invert(100%);
}

/* ===== SEÇÃO MISSÃO, VISÃO E VALORES ===== */
.mvv-section {
    padding: 15px 0;
    background-color: transparent;
}

.mvv-section h3 {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.mvv-section p {
    color: #555;
    font-size: 1rem;
}

.mvv-icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    font-size: 5rem !important;
    color: #ffde59 !important;
}

